@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Questrial', sans-serif;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
  }
  
  h1 {
    color: #fff;
  }
  
  .screen {
    cursor: pointer;
    width: 60%;
    height: 550px;
    background-color: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .controls {
    background: #333;
    color: #fff;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .controls .fa-play {
    color: #28a745;
  }
  
  .controls .fa-stop {
    color: #dc3545;
  }
  
  .controls .fa-pause {
    color: #fff;
  }
  
  .controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  @media (max-width: 800px) {
    .screen,
    .controls {
      width: 90%;
    }
  }
  