* {
    box-sizing: border-box;
}

body {
    font: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('./miguel-bruna-unsplash.jpg') no-repeat bottom center/cover;
    position: absolute;
    top: -30px;
    left:-30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #000;
    margin: 0 auto;
    z-index: 1;
}